<template>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6">
        <!-- Content goes here -->
        <!-- We use less vertical padding on card headers on desktop than on body sections -->
    </div>
    <div class="px-4 py-5 sm:p-6">

        

    </div>
    <div class="px-4 py-4 sm:px-6">
        <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Movie Information</h3>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Full name</dt>
        <dd class="mt-1 text-sm text-gray-900">{{movies.name}}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Year Of Release</dt>
        <dd class="mt-1 text-sm text-gray-900">{{movies.year}}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Plot</dt>
        <dd class="mt-1 text-sm text-gray-900">{{movies.plot}}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Producer Name</dt>
        <dd class="mt-1 text-sm text-gray-900">{{movies.producer.name}}</dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">Actor</dt>
        <dd v-for="actor in movies.actors" class="mt-1 text-sm text-gray-900">- {{actor.name}}</dd>
      </div>
    </dl>
  </div>
</div>
 <div class="flex justify-end">
    <a href="/" class="mt-2 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Back</a>
  </div>

    </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
export default {
    components: {
        Multiselect
    },
    name: "Welcome",
    props: ["movies","actors","producers"],
	data() {
        return {
            actorsOptions: this.actors || [],
            producersOption: this.producers || [],
            addnewActorForm: false,
            addnewProducerForm: false,
            actor: {
				name: "",
				sex: "",
				dob: "",
				bio: "",
			},
            producerinfo: {
				name: "",
				sex: "",
				dob: "",
				bio: "",
            },
            movieInfo: {
                actorsValue: this.movies.actors || [],
                producer: this.movies.producer || "",
                title: this.movies.name || "",
                dateOfRelease: this.movies.year || "",
                plot: this.movies.plot || "",
                poster: "",
                poster: this.movies.plot || "",
                movieId: this.movies.id || "",
            },
		};
	},
	mounted() {
	},
    methods: {
        addNewActor() { 
            this.addnewActorForm = true;
        },
        addNewProducer() { 
            this.addnewProducerForm = true;
        },
        saveActor(actor) {
            this.$inertia.post('actor-save', actor)
		},
        saveProducer(producerinfo) {
            this.$inertia.post('producer-save', producerinfo)
        },
        saveMovie() {
            this.$inertia.post('/movie-update', this.movieInfo)
		},
	},
	computed: {
	}
};
</script>
