<template>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6">
        <!-- Content goes here -->
        <!-- We use less vertical padding on card headers on desktop than on body sections -->
    </div>
    <div class="px-4 py-5 sm:p-6">

        

    </div>
    <div class="px-4 py-4 sm:px-6">

<div class="space-y-6">
  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Movie</h3>
        <p class="mt-1 text-sm text-gray-500">Movie information.</p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form class="space-y-6" action="#">
            <input type="hidden" name="movieId" v-model="movieInfo.movieId">
            <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
            <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Movie Title</label>
            <input v-model="movieInfo.title" type="text" name="name" id="name" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
            </div>

          <div>
            <label for="about" class="block text-sm font-medium text-gray-700"> Date of Release</label>
            <div class="mt-1">
                <input v-model="movieInfo.dateOfRelease" type="date" name="dateMovie" id="dateMovie" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
            <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Movie plot</label>
            <input v-model="movieInfo.plot" type="text" name="plot" id="plot" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
            </div>

          <div>
            <label class="block text-sm font-medium text-gray-700"> Cover photo </label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="flex text-sm text-gray-600">
                  <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                    <span>Upload a file</span>
                    <input id="file-upload" name="file-upload" type="file" class="sr-only">
                  </label>
                  <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
              </div>
            </div>
          </div>
          
        </form>

        
      </div>
    </div>
  </div>

  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Actors Information</h3>
        
        <p class="mt-1 text-sm text-gray-500">Actors participat in this movie.</p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#">
          <div class="grid grid-cols-6 gap-6">

            <div class="col-span-6 sm:col-span-3">
              <label class="typo__label">Existing Actor</label>
              <button href="javascript:void(0);" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="addNewActor()">Add New Actor</button>
            <multiselect 
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                v-model="movieInfo.actorsValue" 
                :options="actorsOptions" 
                :multiple="true" 
                :close-on-select="false" 
                :clear-on-select="false" 
                placeholder="Pick some" 
                label="name" 
                track-by="name" 
                :preselect-first="true"
            >
                <template slot="selection" slot-scope="{ values, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ movieInfo.actorsValue.length }} options selected</span></template>
            </multiselect>
            <!-- <pre class="language-json"><code>{{ actorsValue  }}</code></pre> -->
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label class="typo__label">Producer</label>
              <button href="javascript:void(0);" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="addNewProducer()">Add New Producer</button>
            <multiselect 
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                v-model="movieInfo.producer" 
                :options="producersOption" 
                placeholder="Choose Producer" 
                label="name" 
                track-by="name" 
                :preselect-first="true"
            >
                <template slot="selection" slot-scope="{ values, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ actorsValue.length }} options selected</span></template>
            </multiselect>
            </div>
          </div>
        </form>


        <div v-if="addnewActorForm" class="mt-10 ">
            <form action="#">
            <div >

                <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Actor Name</label>
                    <input v-model="actor.name" type="text" name="actorName" id="actorName" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>

                <div class="mt-3 relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="sex" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Actor Sex</label>
                    <input v-model="actor.sex" type="text" name="actorSex" id="actorSex" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>

                <div class="mt-3 relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="sex" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Actor Sex</label>
                    <input v-model="actor.dob" type="date" name="actordob" id="actordob" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>
                <div class="mt-3 relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="sex" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Actor Bio</label>
                    <input v-model="actor.bio" type="textarea" name="actorbio" id="actorbio" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>
                <button href="javascript:void(0);" class="ml-3 mt-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="saveActor(actor)">Save New Actor</button>

            </div>
            </form>
        </div>
        <div v-if="addnewProducerForm" class="mt-10 ">
            <form action="#">
            <div >

                <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Producer Name</label>
                    <input v-model="producerinfo.name" type="text" name="producerName" id="producerName" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>

                <div class="mt-3 relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="sex" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Producer Sex</label>
                    <input v-model="producerinfo.sex" type="text" name="producerSex" id="producerSex" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>

                <div class="mt-3 relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="sex" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Producer Sex</label>
                    <input v-model="producerinfo.dob" type="date" name="producerdob" id="producerdob" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>
                <div class="mt-3 relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                    <label for="sex" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Producer Bio</label>
                    <input v-model="producerinfo.bio" type="textarea" name="producerbio" id="producerbio" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Jane Smith">
                </div>
                <button href="javascript:void(0);" class="ml-3 mt-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="saveProducer(producerinfo)">Save New Producer</button>

            </div>
            </form>
        </div>
        
      </div>
        
      
    </div>
  </div>


  <div class="flex justify-end">
    <a href="/" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Back</a>
    <button type="submit" @click="saveMovie()" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
  </div>
</div>

    </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
export default {
    components: {
        Multiselect
    },
    name: "Welcome",
    props: ["movies","actors","producers"],
	data() {
        return {
            actorsOptions: this.actors || [],
            producersOption: this.producers || [],
            addnewActorForm: false,
            addnewProducerForm: false,
            actor: {
				name: "",
				sex: "",
				dob: "",
				bio: "",
			},
            producerinfo: {
				name: "",
				sex: "",
				dob: "",
				bio: "",
            },
            movieInfo: {
                actorsValue: this.movies.actors || [],
                producer: this.movies.producer || "",
                title: this.movies.name || "",
                dateOfRelease: this.movies.year || "",
                plot: this.movies.plot || "",
                poster: "",
                poster: this.movies.plot || "",
                movieId: this.movies.id || "",
            },
		};
	},
	mounted() {
	},
    methods: {
        addNewActor() { 
            this.addnewActorForm = true;
        },
        addNewProducer() { 
            this.addnewProducerForm = true;
        },
        saveActor(actor) {
            this.$inertia.post('actor-save', actor)
		},
        saveProducer(producerinfo) {
            this.$inertia.post('producer-save', producerinfo)
        },
        saveMovie() {
            this.$inertia.post('/movie-update', this.movieInfo)
		},
	},
	computed: {
	}
};
</script>
