<template>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6">
        <!-- Content goes here -->
        <!-- We use less vertical padding on card headers on desktop than on body sections -->
    </div>
    <div class="px-4 py-5 sm:p-6">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Movies</h2>

        <a href="movie-add" class="mb-3 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"> Add New Movies</a>


        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <li v-for="movie of movies" class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200">
                <div class="flex-1 flex flex-col p-8">
                <img class="w-32 h-32 flex-shrink-0 mx-auto rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                <h3 class="mt-6 text-gray-900 text-sm font-medium">{{movie.name}}</h3>
                <dl class="mt-1 flex-grow flex flex-col justify-between">
                    <dt class="sr-only">Title</dt>
                    <dd class="text-gray-500 text-sm"></dd>
                    <dt class="sr-only">Role</dt>
                    <dd class="mt-3">
                    <span class="px-2 py-1 text-green-800 text-xs font-medium bg-green-100 rounded-full">Producer: {{movie.producer.name}}</span>
                    </dd>
                    <dd class="text-gray-500 text-sm">{{movie.year}}</dd>
                </dl>
                </div>
                <div>
                <div class="-mt-px flex divide-x divide-gray-200">
                    <div class="w-0 flex-1 flex">
                    <a @click="detail(movie.id)" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                        <span class="ml-3">Detail</span>
                    </a>
                    </div>
                    <div class="w-0 flex-1 flex">
                    <a @click="edit(movie.id)" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                        <span class="ml-3">Edit</span>
                    </a>
                    </div>
                    <div class="w-0 flex-1 flex">
                    <a @click="deleteInfo(movie.id)" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                        <span class="ml-3">Delete</span>
                    </a>
                    </div>
                </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="px-4 py-4 sm:px-6">
        <!-- Content goes here -->
        <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
    </div>
    </div>

</template>

<script>

export default {
    name: "Welcome",
    props: ["movies"],
	data() {
		return {
		};
	},
	mounted() {
	},
    methods: {
        edit(id) {
            window.location = '/movie-edit/' + id;
		},
        detail(id) {
            console.log(id)
            window.location = '/movie-detail/' + id;
		},
        deleteInfo(id) {
            let text = "Press a button!\nEither OK or Cancel.";
            if (confirm(text) == true) {
                window.location = '/movie-deleteMovie/' + id;
            } 
            
		},
	},
	computed: {
	}
};
</script>
